{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>It all began one dark night in late October 2021...</h1>
  </div>
</div>

  <div class="container">

    <div class="row">

    <div class="col-lg-9">
      <h2>The Task</h2>
      <p>A powerful techno mage, known by the moniker "King Witch", sat down at their desk and began
      typing feverishly with singular purpose. King was tasked with harnessing the power of Netlify to deploy a site using a static site 
      generator at the behest of Netlify Support Leadership and Technical Recruiting! The answers to the questions posed by the Netlify team
      are scattered throughout this site, written in King Witch's own words...
      </p>
    </div>

    </div>
</div>
{% endblock %}
