{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>King's Killer Question Countdown!</h1>
    <p>Ten questions enter, but King Witch is ruthless... Will any questions remain unanswered when the night ends?</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-4">
      <h2>QUESTION 1</h2>
      <hr />
      <p>
        <i>Talk about how you made your site and why you chose the tools you did. 
        Briefly explain one challenge you experienced in setting up this site and how you solved it.</i>
      </p>
        <p>
          After careful consideration, I chose Cactus as my site generator because I am already familiar with Python and that is the basis upon which Cactus is built. 
          Once I'd made my choice, I installed Python, Cactus, and Git, and then created a new repo on Github. From there I cloned the repo locally so I could make 
          the necessary changes to deploy on Netlify - specifically, the changes outlined under the "Preparing for Deployment" heading in 
          <a href="https://www.netlify.com/blog/2016/04/08/a-step-by-step-guide-cactus-on-netlify/#cactusapp" target="_blank">this post</a> 
          from the Netlify blog.
          The challenge I faced while working through this process was working with Cactus inside a virtual environment. 
          The first few resources I found were Mac/UNIX-specific guides and my personal machine runs Windows, and so I had to do a bit of Googling and digging on the 
          Netlify blog and Support Forums to find what I needed to get things running.
        </p>
    </div>

    <div class="col-lg-4">
      <h2>QUESTION 2</h2>
      <hr />
      <p>
        <i>What did you think of our service during the time you used it? Provide either some constructive criticism or some points that impressed you. 
        Be honest! “It sucked” isn’t a wrong answer unless you don’t elaborate and provide some constructive criticism ;)</i>
      </p>
        <p>
          Using Netlify was, quite honestly, the easiest part of the whole process. I was impressed by the minimal effort
          required to create an account on Netlify, link with Github and point to a repo, then just build and deploy! Once I figured out how to get Cactus to generate the files
          and pushed them to Github it was simple and intutitve to move through the rest of the steps in the Netlify UI. From there I found that I could very easily change 
          the domain for my site, which was an unexpected and welcome bonus (I do love a theme).
        </p>
   </div>

    <div class="col-lg-4">
      <h2>QUESTION 3</h2>
      <hr />
      <p>
        <i>Rank your 5 favorite, and 5 least favorite, 
        activities from <a href="https://gist.github.com/fool/b0f254ff8c72a5765b6a9138249789d6" target="_blank">this list.</a></i>
      </p>
      <div class="container">
        <div class="row">
          <div class="col-xs">
            <p>
              Five Favorites (in no particular order):
            </p>
            <ol>
              <li>Respond to 50+ support requests via email or chat most days</li>
              <li>Dig through server logs to troubleshoot a customer's website behavior</li>
              <li>Write and maintain documentation for our software and blog posts for our website</li>
              <li>Debug a customer's build using a programming language and framework that you've never seen before</li>
              <li>Set up your own copy of several static site frameworks for debugging</li>
            </ol>
          </div>
          <div class="col-xs">
            <p>
            Five Least Favorites (in no particular order):
            </p>
            <ol>
              <li>Manage a Support team</li>
              <li>Find and recruit teammates for the Support team</li>
              <li>Work with prospective customers to explain our service and the pricing model</li>
              <li>Receive occasional phone calls requesting support from our highest-value customers</li>
              <li>Respond to Netlify customers on Twitter</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
